<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>注册1</title>
<link href="css/memcenter.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

<!--[if IE 6]>
<script src="js/png_ie6.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input, a');
    </script>
<![endif]--> 
</head>
<body>
<div class="top">
  <div class="main"><span class="left">欢迎登录个人管理中心&nbsp;&nbsp;&nbsp;&nbsp;用户名：cesi2233&nbsp;&nbsp;&nbsp;&nbsp;级别：1级&nbsp;&nbsp;&nbsp;&nbsp;积分：100</span><span class="right"><a href="">返回首页</a>|<a href="">退出</a></span></div>
</div>
<div class="head">
    <div class="main">
        <a href="" class="left"><img src="images/logo2.jpg"></a>
        <span class="left">欢迎登录个人管理中心</span>
        <a href="" class="right"><span>空中课堂</span></a>
    </div>
</div>
<div class="main memcenter">
    <div class="lmenu">
        <dl>
        <dt>个人信息</dt>
        <dd><a href="个人中心1_1.html" class="cur">基本信息</a><a href="个人中心1_2.html">个人资料</a><a href="个人中心1_3.html">教学信息</a></dd>
        <dt>财务管理</dt>
        <dd><a href="个人中心2_1.html">财务信息</a><a href="个人中心2_2.html">我的金币</a><a href="个人中心2_3.html">我的积分</a><a href="个人中心2_4.html">金币提现</a></dd>
        <dt>教学资料</dt>
        <dd><a href="个人中心3_1.html">下载历史</a><a href="个人中心3_2.html">上传资料</a><a href="个人中心3_3.html">上传历史</a></dd>
        </dl>
    </div>
    <div class="article">
        <div class="coltl white">您的基本信息</div>
      <div class="mcont white">
            <div class="mface">
          <img src="images/default.gif"> <br>
          <p><a href="" class="mbtn">修改头像</a></p><br><p><a href="" class="mbtn">修改密码</a></p>
          </div>
          <br>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%">用户名：	riyulaoshi	</td>
    <td width="35%">经验值：	2162531</td>
    <td align="right">等级：	39级</td>
  </tr>
  <tr>
    <td>类别：	其他社会教师</td>
    <td>注册时间：	2013-11-07 21:16:55</td>
    <td align="right">最近登录时间：	2017-10-11</td>
  </tr>
  <tr>
    <td>积分：	5430</td>
    <td>授课综合评分：	10.00</td>
    <td align="right">教学水平评分：	10.00</td>
  </tr>
  <tr>
    <td>沟通能力评分：	10.00</td>
    <td>守时情况评分：	10.00</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><span class="rz">认证：</span><span class="rz"><img src="images/Lwzrz.png"><br>网站认证<br><strong class="green">已获得认证</strong></span><span class="rz"><img src="images/Lsmrz_1.png"><br>实名认证<br><strong class="red">申请此认证</strong></span><span class="rz"><img src="images/Ljnrz.png"><br>技能认证<br><strong class="green">已获得认证</strong></span><span class="rz"><img src="images/GxrzL.png"><br>高效认证<br><strong class="green">已获得认证</strong></span><span class="rz"><img src="images/Lyjszrz.png"><br>有教师证认证<br><strong class="green">已获得认证</strong></span><span class="rz"><img src="images/Ljpjsrz.png"><br>金牌教师认证<br><strong class="green">已获得认证</strong></span></td>
    </tr>
</table>

        </div>
        <div class="mcont white">
        <p class="f14 msta">用户状态：&nbsp;&nbsp;<span><input name="" type="radio" value="">正常显示</span>&nbsp;&nbsp;<span><input name="" type="radio" value="">隐身，别人搜不到我</span>&nbsp;&nbsp;<input name="" type="button" value="保存修改" class="mbtn"></p>
  

        </div>
    </div>
    <div class="clear"></div>
</div>
<br>
<div class="footer"><br>
    <div class="main">
        <dl>
        <dt>帮助中心</dt>
        <dd><a href="">服务条款</a><a href="">网站资源</a></dd>
        </dl>
        <dl>
        <dt>服务支持</dt>
        <dd><a href="">意见反馈</a></dd>
        </dl>
        <dl>
        <dt>关注我们</dt>
        <dd><a href="">联系我们</a></dd>
        </dl>
        <dl>
        <dt>关于佳教通</dt>
        <dd><a href="">官方教学顾问</a></dd>
        </dl>
        <span class="right">经营许可证编号： 京ICP备10022571号-3    <br>© 2007-2016 佳教通 版权所有</span>
        <div class="clear"></div>
    </div>
    <br><br>
</div>


</body>
</html>
