<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>同学详情</title>
<link href="css/public.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>

<!--[if IE 6]>
<script src="js/png_ie6.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input, a');
    </script>
<![endif]--> 
</head>
<body>
<div class="top">
  <div class="main"><span class="left">客服热线  <strong>010 - 60 211 211</strong></span><span class="right"><a href="login.html">登录</a>|<a href="注册前.html">免费注册</a>|<a href="个人中心1_1.html">个人管理中心</a>|<a href="">软件下载</a></span></div>
</div>
<div class="head">
    <div class="main">
    <a href="" class="left"><img src="images/logo.png"></a>    
     <a href="空中课堂_1.html" class="headkong"><span>空中课堂</span></a> 
    <div class="nav">
    <ul>
    <li><a href="首页.html">首页</a></li>
    <li><a href="师资.html">师资</a></li>
    <li class="cur"><a href="同学.html">同学</a></li>
    <li><a href="优势.html">优势</a></li>
    <li><a href="">使用指南</a></li>
    </ul>
    </div> 
     
    <div class="clear"></div>
    </div>   
</div>
<!--banner-->
<div class="banner">
    <div class="main"><p><span class="f48">数万名优秀师资  私人定制教学方案</span><br><span class="f24">6万多名师资源，轻松找到你心仪的老师</span></p></div>
</div>

<!--面包屑
<div class="main bread">
当前位置：<a href="首页.html">首页</a>&gt;<a href="师资.html">师资</a>
</div>
-->
<!--search-->

<div class="main">
    <div class="plist art">
    <ul>
    <li>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
  <tr>
    <td width="13%" rowspan="3"><img src="images/20131210135752_205_min.jpg"></td>
    <td>昵称：	朵朵</td>
    <td>级别：15级<img src="images/t.jpg"></td>
    <td>状态：<img src="images/offline.png"></td>
  </tr>
  <tr>
    <td width="29%"><p>学习综合评分：10</p></td>
    <td width="29%"><p>学习状态:10</td>
    <td><p>沟通能力: 10.00</p></td>
  </tr>
  <tr>
    <td width="29%"><p>守时情况: 10.00</p></td>
    <td colspan="2"><p>认证：</td>
    </tr>
</table>
    </li>  
    <li>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
  <tr>
    <td width="25%"><p>用户名：小丸子</p></td>
    <td width="25%"><p>昵称：	朵朵</p></td>
    <td width="25%">类别：	学员</td>
    <td><p>普通话水平：较好子</p></td>
  </tr>
  <tr>
    <td width="25%"><p>性别：	女</p></td>
    <td width="25%"><p>年龄：	18岁</p></td>
    <td>学习情况：	较好</td>
    <td><p>网络：	默认</p></td>
  </tr>
  <tr>
    <td colspan="4"><p>所学课程：	初中-英语;初中-数理化;初中-生物;初中-政治;初中-历史</p></td>
  </tr>
</table>
    </li>    
    </ul>
    </div>   
    <br>
    <p align="center"><a href="" class="nextstep">进入他的网盘<span>&gt;</span></a></p>
    <br> 
</div>
<div class="main">
    <div class="artsub"><span>其他信息</span></div>
    <div class="plist other">
    <ul>
    <li>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
  <tr>
    <td width="25%"><p>学员具体类别：初中生</p></td>
    <td width="25%"><p>民族：汉族</td>
    <td width="25%">学习情况：较好</td>
    <td><p>是否上学：是</p></td>
  </tr>
  <tr>
    <td width="25%"><p>就读或已毕业学校名称：</p></td>
    <td width="25%"><p>教学可能用到的教材及版本：</td>
    <td>教师身份要求：</td>
    <td><p>教师性别要求：无要求</p></td>
  </tr>
  <tr>
    <td colspan="4"><p>可学习时间：</p></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td align="center">周一</td>
    <td align="center">周二</td>
    <td align="center">周三</td>
    <td align="center">周四</td>
    <td align="center">周五</td>
    <td align="center">周六	</td>
    <td align="center">周日</td>
  </tr>
  <tr>
    <td align="center">上午</td>
    <td align="center"><input type="checkbox" name="checkbox" id="checkbox">
      <label for="checkbox"></label></td>
    <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
    <td align="center"><input type="checkbox" name="checkbox3" id="checkbox3"></td>
    <td align="center"><input type="checkbox" name="checkbox4" id="checkbox4"></td>
    <td align="center"><input type="checkbox" name="checkbox5" id="checkbox5"></td>
    <td align="center"><input type="checkbox" name="checkbox6" id="checkbox6"></td>
    <td align="center"><input type="checkbox" name="checkbox7" id="checkbox7"></td>
  </tr>
  <tr>
    <td align="center">下午</td>
    <td align="center"><input type="checkbox" name="checkbox8" id="checkbox8"></td>
    <td align="center"><input type="checkbox" name="checkbox9" id="checkbox9"></td>
    <td align="center"><input type="checkbox" name="checkbox10" id="checkbox10"></td>
    <td align="center"><input type="checkbox" name="checkbox11" id="checkbox11"></td>
    <td align="center"><input type="checkbox" name="checkbox12" id="checkbox12"></td>
    <td align="center"><input type="checkbox" name="checkbox13" id="checkbox13"></td>
    <td align="center"><input type="checkbox" name="checkbox14" id="checkbox14"></td>
  </tr>
  <tr>
    <td align="center">晚上</td>
    <td align="center"><input type="checkbox" name="checkbox15" id="checkbox15"></td>
    <td align="center"><input type="checkbox" name="checkbox16" id="checkbox16"></td>
    <td align="center"><input type="checkbox" name="checkbox17" id="checkbox17"></td>
    <td align="center"><input type="checkbox" name="checkbox18" id="checkbox18"></td>
    <td align="center"><input type="checkbox" name="checkbox19" id="checkbox19"></td>
    <td align="center"><input type="checkbox" name="checkbox20" id="checkbox20"></td>
    <td align="center"><input type="checkbox" name="checkbox21" id="checkbox21"></td>
  </tr>
</table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
  <tr>
    <td colspan="3"><p>自我介绍：	本人性格古怪，平时乐于助人。学习较好 但是政治地理总是拉分， 想找老师补习提高副科成绩。</p></td>
    </tr>
  <tr>
   <td colspan="3"><p>曾获奖励：市三好学生。 优秀学生干部。</p></td>
  </tr>
  <tr>
    <td colspan="3"><p>爱好：</p></td>
  </tr>
  <tr>
    <td colspan="3"><p>备注：	想找个可以和学生以朋友方式交谈的老师。</p></td>
    </tr>
</table>
    </li>      
    </ul>
    </div>
</div>
<br>
<div class="main">
    <div class="artsub"><span>评价情况</span></div>
    <div class="recomlist">
    <ul>
    <li>
      <div class="left"><img src="images/40.png">&nbsp;&nbsp;李***<br>2018-08-05</div>
      <div class="rectxt">今天我们学习了：观察这些单项式的特点，请写出他们的规律。一、导入：二、新授：1、导题； 2、讨论分析。三、反馈。学生上课简评：基础较好，上课很积极，自信心一般，本次课完全掌握。</div>
      <div class="clear"></div>
    </li>
    <li>
      <div class="left"><img src="images/40.png">&nbsp;&nbsp;李***<br>2018-08-05</div>
      <div class="rectxt">今天我们学习了：观察这些单项式的特点，请写出他们的规律。一、导入：二、新授：1、导题； 2、讨论分析。三、反馈。学生上课简评：基础较好，上课很积极，自信心一般，本次课完全掌握。</div>
      <div class="clear"></div>
    </li>
    <li>
      <div class="left"><img src="images/40.png">&nbsp;&nbsp;李***<br>2018-08-05</div>
      <div class="rectxt">今天我们学习了：观察这些单项式的特点，请写出他们的规律。一、导入：二、新授：1、导题； 2、讨论分析。三、反馈。学生上课简评：基础较好，上课很积极，自信心一般，本次课完全掌握。</div>
      <div class="clear"></div>
    </li>
    <li>
      <div class="left"><img src="images/40.png">&nbsp;&nbsp;李***<br>2018-08-05</div>
      <div class="rectxt">今天我们学习了：观察这些单项式的特点，请写出他们的规律。一、导入：二、新授：1、导题； 2、讨论分析。三、反馈。学生上课简评：基础较好，上课很积极，自信心一般，本次课完全掌握。</div>
      <div class="clear"></div>
    </li>
    <li>
      <div class="left"><img src="images/40.png">&nbsp;&nbsp;李***<br>2018-08-05</div>
      <div class="rectxt">今天我们学习了：观察这些单项式的特点，请写出他们的规律。一、导入：二、新授：1、导题； 2、讨论分析。三、反馈。学生上课简评：基础较好，上课很积极，自信心一般，本次课完全掌握。</div>
      <div class="clear"></div>
    </li>
    </ul>
    </div>
</div>
<br>
<br>
<div class="footer"><br>
    <div class="main">
        <a href="#" class="backtop"></a>
        <dl>
        <dt>帮助中心</dt>
        <dd><a href="">服务条款</a><a href="">网站资源</a></dd>
        </dl>
        <dl>
        <dt>服务支持</dt>
        <dd><a href="">意见反馈</a></dd>
        </dl>
        <dl>
        <dt>关注我们</dt>
        <dd><a href="">联系我们</a></dd>
        </dl>
        <dl>
        <dt>关于佳教通</dt>
        <dd><a href="">官方教学顾问</a></dd>
        </dl>
        <span class="right">经营许可证编号： 京ICP备10022571号-3    <br>© 2007-2016 佳教通 版权所有</span>
        <div class="clear"></div>
    </div>
    <br><br>
</div>

<script src="js/main.js" type="text/javascript"></script>
</body>
</html>
