<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>注册</title>
<link href="css/login.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

<!--[if IE 6]>
<script src="js/png_ie6.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input, a');
    </script>
<![endif]--> 
</head>
<body>
<div class="top">
  <div class="main"><span class="left">客服热线  <strong>010 - 60 211 211</strong></span><span class="right"><a href="登录.html">登录</a>|<a href="注册前.html">免费注册</a>|<a href="个人中心1_1.html">个人管理中心</a>|<a href="">软件下载</a></span></div>
</div>
<div class="head">
    <div class="main">
        <a href="" class="left"><img src="images/logo2.jpg"></a>
        <a href="" class="right"><span>空中课堂</span></a>
    </div>
</div>
<div class="banner_reg"></div>
<div class="reg">
  <p class="regtl">注册成为老师</p><br>
  <p align="center"><img src="images/banner_reg1.jpg"></p><br>
  <p class="regsubtl">必填信息</p>
  <br>
  <div class="regcont">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="60" align="right">老师类别：</td>
    <td width="410"><select name="" size="1">
      <option>请选择 </option>
      </select></td>
      <td><span class="tip">* 根据您的身份，请选择所属类别</span></td>
  </tr>
  <tr>
    <td align="right">用户名：</td>
    <td><input name="" type="text" placeholder="请输入用户名"></td>
    <td><span class="tip">* 6-16个字符（包括字母、数字、下划线），不能输入汉字、特殊字符</span></td>
  </tr>
  <tr>
    <td align="right">密码：</td>
    <td><input name="" type="text" placeholder="请输入密码"></td>
    <td><span class="tip">* 密码由6-20个字符组成，由英文字母、数字或符号的组合</span></td>
  </tr>
  <tr>
    <td align="right">确认密码：</td>
    <td><input name="" type="text" placeholder="请再次输入密码"></td>
    <td><span class="tip">* 请再次输入您上面输入的密码。</span></td>
  </tr>
  <tr>
    <td align="right">所属地区：</td>
    <td><select name="" size="1">
      <option>请选择 </option>
      </select><select name="" size="1">
      <option>请选择 </option>
      </select><select name="" size="1">
      <option>请选择 </option>
      </select></td>
      <td><span class="tip">* 清选择所在的省、市、县。</span></td>
  </tr>
</table>
<br>
<p class="regsubtl">联系方式</p><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">  
  <tr>
    <td align="right">手机：</td>
    <td><input name="" type="text" placeholder="请输入用户名">
      <input type="submit" name="button" id="button" value="接收验证码" class="graybtn"></td>
    <td><span class="tip">* 短信接收。10分钟内有效，过期请重新点击“接收验证码”。</span></td>
  </tr>
  <tr>
    <td align="right">验证 码：</td>
    <td><input name="" type="text" placeholder="请输入密码"></td>
    <td>&nbsp;</td>
  </tr>  
</table>
<br><p class="bla">服务条款</p><br>
<div class="service_terms">
        	<span style="font-size:12px;">&nbsp;</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px; font-weight:bold;">您与佳教通平台的经营者共同缔结本协议，其具有合同效力。</span><span></span></span> 
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">佳教通平台经营者是北京华语高科文化发展有限公司。本协议中：佳教通平台的经营者可单称或统称为</span><span style="font-size:12px;">"</span><span style="font-size:12px;">佳教通</span><span style="font-size:12px;">"</span><span style="font-size:12px;">。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">一、 协议内容及签署</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1</span><span style="font-family:宋体;font-size:12px;">、</span><span style="font-family:宋体;font-size:12px;">本服务协议内容包括本协议正文及所有本网站已经发布的或将来可能发布的各类规则、声明等各项规范网站运营及明确本公司和用户权利义务、责任的文件资料。所有规则、声明等均为本服务协议不可分割的一部分，与本服务协议具有同等法律效力。在本网站中没有以"规则"、"声明"字样表示的链接文字所指示的文件就专门的事项与本服务协议有不同规定的，在不违反本服务协议基本原则的前提下优先适用其规定，且仅适用于该专门的事项。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">2.</span></span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">您应当在使用佳教通平台服务之前认真阅读全部协议内容，如您有任何疑义的，应向本网站咨询或立即停止注册和使用本网站。但无论您事实上是否在使用佳教通平台服务之前认真阅读了本协议内容，只要您使用佳教通平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得佳教通对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</span><span><br>
<span style="font-size:12px;">3.</span></span><span style="font-size:12px;">您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册</span><span style="font-size:12px;">/</span><span style="font-size:12px;">激活程序或停止使用佳教通平台服务。</span><span><br>
<span style="font-size:12px;">4.</span></span><span style="font-size:12px;">佳教通有权根据需要不时地制订、修改本协议及</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或各类规则，并以网站公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止使用佳教通平台服务。如您继续使用佳教通平台服务，即表示您接受经修订的协议和规则。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">5</span><span style="font-family:宋体;font-size:12px;">、</span><span style="font-family:宋体;font-size:12px;">使用此网站的部分功能，需要对注册时所填写的帐号身份证信息进行验证，同时要求用户提供有效身份证复印件。凡未填写身份信息（真实姓名、身份证号码）、身份证号码与姓名不符的用户帐号，将不支持使用佳教通的这部分功能</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">二、 注册与账户</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">注册者资格</span><span><br>
</span><span style="font-size:12px;">在您注册或使用佳教通平台服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果。</span></span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">2.</span></span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">注册和账户</span><span><br>
<span style="font-size:12px;">a</span></span><span style="font-size:12px;">）在您按照注册页面提示填写信息、同意本协议且完成注册程序后，或您以其他佳教通允许的方式实际使用佳教通平台服务时，您即受本协议约束</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">c</span></span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">）您可以对账户设置佳教通用户名、称谓、昵称。这些用户名、称谓、昵称不得侵犯或涉嫌侵犯他人合法权益。否则佳教通有权终止向您提供佳教通平台服务，删除您的佳教通用户名、称谓、昵称。</span><span><br>
<span style="font-size:12px;">d</span></span><span style="font-size:12px;">）除非有法律规定或司法裁定，或者符合佳教通公布的条件，否则您的用户名和密码不得以任何方式转让、赠与或继承。并且办理需要按佳教通制定的操作流程办理。</span></span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">用户名或密码因告诉他人而丢失的，自行承担相关责任。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">e</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">）本网站通过您的用户名和密码识别您的指示，请您妥善保管您的用户名和密码，对于因密码泄露所致的损失，由您自行承担</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">3</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">、用户信息</span><span><br>
<span style="font-size:12px;">a</span></span><span style="font-size:12px;">）在完成注册或认证流程时，您应当按照页面的提示，准确提供并及时更新您的资料，以使之真实、及时、完整和准确。</span><span style="font-size:12px;">如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，佳教通有权向您发出询问及</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部佳教通平台服务。佳教通对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</span><span><br>
<span style="font-size:12px;">b</span></span><span style="font-size:12px;">）</span><span style="font-size:12px;">您应当准确填写并及时更新您提供的电子邮件地址、联系电话等联系方式，以便佳教通或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用佳教通平台服务过程中产生任何损失的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更或需要更新的，您应按佳教通的要求进行操作。</span><span><br>
<span style="font-size:12px;">4</span></span><span style="font-size:12px;">、账户安全</span><span><br>
</span><span style="font-size:12px;">您须自行负责对您的佳教通用户名和密码保密，且须对您在该用户名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：</span><span style="font-size:12px;">(a) </span><span style="font-size:12px;">如发现任何人未经授权或同意，使用您的用户名和密码，您会立即通知佳教通；及</span><span style="font-size:12px;"> (b) </span><span style="font-size:12px;">确保您在每个上网时段结束时，以正确步骤离开网站</span><span style="font-size:12px;">/</span><span style="font-size:12px;">服务。佳教通不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解佳教通对您的请求采取行动需要合理时间，佳教通对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</span><span><br>
<span style="font-size:12px;">5</span></span><span style="font-size:12px;">、登录名注销</span><span><br>
<span style="font-size:12px;">a</span></span><span style="font-size:12px;">）如您连续三年未使用您的用户名和密码登录过佳教通平台，您的用户名可能被注销，不能再登录佳教通网站，所有服务同时终止。</span><span><br>
<span style="font-size:12px;">b</span></span><span style="font-size:12px;">）您同意并授权佳教通网站，您如在佳教通网站有欺诈、发布假冒伪劣</span><span style="font-size:12px;">/</span><span style="font-size:12px;">侵权产品或服务、侵犯他人合法权益或其他违反法律法规、佳教通网站规则等行为，本网站在佳教通网站的范围内对此有权披露，您的用户名可能被注销，不能再登录佳教通网站，所有佳教通网站服务同时终止。</span></span><span style="font-family:宋体;font-size:12pt;"> </span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">三、 佳教通平台服务</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">会员可在佳教通平台上遵照事先设定好的流程发布教学信息、查询教学信息、查询服务信息、达成服务意向、进行网上交流、进行互动交流和沟通、对其他会员进行评价、上传或下载资料、提问和答疑、制定教学计划、发布文章、参加佳教通组织的活动以及使用其它信息服务及技术服务。</span><span><br>
<span style="font-size:12px;">2.</span></span><span style="font-size:12px;">您在佳教通平台上沟通过程中与其他会员发生纠纷时，一旦您或其它会员任一方或双方共同提交佳教通要求调处，则佳教通有权根据单方判断做出调节处理，您了解并同意接受佳教通的判断和调处决定。</span><span><br>
<span style="font-size:12px;">3.</span></span><span style="font-size:12px;">您了解并同意，佳教通有权应政府部门（包括司法及行政部门）的要求，向其提供您向佳教通提供的用户信息和沟通、沟通或其他记录等必要信息。如您涉嫌侵犯他人知识产权等合法权益，则佳教通亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。</span></span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">4.</span><span style="font-family:宋体;font-size:12pt;"> </span><span style="font-family:宋体;font-size:12px;">用户因进行沟通、接受教育、获得信息服务、获取其他有偿服务或接触本网站服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其他方面的费用均由用户自己承担。本网站仅作为本公司为注册用户提供的进行沟通服务的网络平台，并通过该平台向用户提供在线沟通支持服务</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">。</span><span style="font-size:12px;">并且，本网站有权利，对用户应缴纳的个人所得税进行代扣代缴。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">四、佳教通平台服务使用规范</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">在佳教通平台上使用佳教通服务过程中，您承诺遵守以下约定：</span><span><br>
<span style="font-size:12px;">a) </span></span></span><span style="font-family:宋体;font-size:12px;">用户有权根据本服务协议的规定以及本网站上发布的相关规则、声明利用网上平台查询服务信息、发布服务信息、上传或下载资料、提问或回答问题、与其他用户沟通、参加本网站的有关活动以及有权享受本网站提供的其他的相关信息服务。用户保证其具有相应的法律权利和行为能力进行上述活动，其在本网站平台进行或参与上述行为不会导致其违反任何适用的法律法规，及对用户具有约束力的合同、协议、法院及仲裁机构的有效裁判、规章、行政许可、政府命令、禁令及其他文件的规定，并保证对该等行为独立承担一切法律责任（包括但不限于上传非法或侵权物品的法律责任及任何对第三方的侵权及违约责任）。若本网站因任何可归咎于用户违反法律法规，或对用户具有约束力的合同、协议、法院及仲裁机构的有效裁判、规章、行政许可、政府命令、禁令及其他文件的行为承担任何连带责任，用户同意对本网站的损失予以全额赔偿</span><span style="font-family:宋体;font-size:12px;">。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">b) </span></span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">在与其他用户沟通过程中，遵守诚实守信原则，不采取不正当竞争行为，不扰乱网上沟通的正常秩序。</span><span><br>
<span style="font-size:12px;">c) </span></span></span><span style="font-family:宋体;font-size:12px;">用户在本网站网上沟通平台上不得发布各类违法或违规信息</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">。</span><span><br>
<span style="font-size:12px;">d) </span></span><span style="font-size:12px;">不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的评分，不采取不正当方式制造或提高（降低）其他用户的评分；</span><span><br>
<span style="font-size:12px;">e) </span></span><span style="font-size:12px;">不对佳教通平台上的任何数据作商业性利用，包括但不限于在未经佳教通事先书面同意的情况下，以复制、传播等任何方式使用佳教通平台站上展示的资料。</span><span><br>
<span style="font-size:12px;">f) </span></span><span style="font-size:12px;">不使用任何装置、软件或例行程序干预或试图干预佳教通平台的正常运作或正在佳教通平台上进行的任何沟通、活动。您不得采取任何将导致不合理的庞大数据负载加诸佳教通平台网络设备的行动。</span><span><br>
<span style="font-size:12px;">2.</span></span><span style="font-size:12px;">您了解并同意：</span><span><br>
<span style="font-size:12px;">a) </span></span><span style="font-size:12px;">佳教通有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。</span><span><br>
<span style="font-size:12px;">b) </span></span><span style="font-size:12px;">基于维护佳教通平台沟通秩序及沟通安全的需要，佳教通有权在发生恶意扰乱正常沟通秩序的情形下，执行删除信息、关闭相应沟通程序等操作。</span><span><br>
<span style="font-size:12px;">c) </span></span><span style="font-size:12px;">经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者佳教通根据自身的判断，认为您的行为涉嫌违反本协议和</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或规则的条款或涉嫌违反法律法规的规定的，则佳教通有权在佳教通平台上公示您的该等涉嫌违法或违约行为及佳教通已对您采取的措施。</span><span><br>
<span style="font-size:12px;">d) </span></span><span style="font-size:12px;">对于您在佳教通平台上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或规则的信息，佳教通有权不经通知您即予以删除，且按照规则的规定进行处罚。</span><span><br>
<span style="font-size:12px;">e) </span></span><span style="font-size:12px;">对于您在佳教通平台上实施的行为，包括您未在佳教通平台上实施但已经对佳教通平台及其用户产生影响的行为，佳教通有权单方认定您行为的性质及是否构成对本协议和</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或规则的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。</span><span><br>
<span style="font-size:12px;">f) </span></span><span style="font-size:12px;">对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保佳教通免于因此产生损失或增加费用。</span><span><br>
<span style="font-size:12px;">g) </span></span><span style="font-size:12px;">如您涉嫌违反有关法律或者本协议之规定，使佳教通遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿佳教通因此造成的损失及（或）发生的费用，包括合理的律师费用。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">五、特别授权</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">您完全理解并不可撤销地授予佳教通及其关联公司或组织下列权利：</span><span><br>
<span style="font-size:12px;">1.</span></span><span style="font-size:12px;">您完全理解并不可撤销地授权佳教通或佳教通授权的第三方或您与佳教通一致同意的第三方，根据本协议及佳教通规则的规定，处理您在佳教通平台上发生的所有沟通及可能产生的沟通纠纷。您同意接受佳教通或佳教通授权的第三方或您与佳教通一致同意的第三方的判断和调处决定。该决定将对您具有法律约束力。</span><span><br>
<span style="font-size:12px;">2.</span></span><span style="font-size:12px;">一旦您向佳教通及（或）其关联公司或组织，作出任何形式的承诺，且相关公司或组织已确认您违反了该承诺，则佳教通有权立即按您的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，佳教通无须就相关确认与您核对事实，或另行征得您的同意，且佳教通无须就此限制措施或公示行为向您承担任何的责任。</span><span><br>
<span style="font-size:12px;">3.</span></span><span style="font-size:12px;">一旦您违反本协议，或与佳教通签订的其他协议的约定，佳教通有权以任何方式通知佳教通关联公司或组织，要求其对您的权益采取限制措施，将您账户内的款项支付给佳教通指定的对象，要求佳教通关联公司或组织终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。</span><span><br>
<span style="font-size:12px;">4.</span></span><span style="font-size:12px;">对于您提供的资料及数据信息，您授予佳教通及其关联公司独家的、全球通用的、永久的、免费的许可使用权利</span><span style="font-size:12px;"> (</span><span style="font-size:12px;">并有权在多个层面对该权利进行再授权</span><span style="font-size:12px;">)</span><span style="font-size:12px;">。此外，佳教通及其关联公司或组织有权</span><span style="font-size:12px;">(</span><span style="font-size:12px;">全部或部份地</span><span style="font-size:12px;">) </span><span style="font-size:12px;">使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、沟通行为数据、上传的资料及全部展示于佳教通平台的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</span><span><br>
<span style="font-size:12px;">5.</span></span><span style="font-size:12px;">为方便您使用佳教通平台服务及佳教通网站或其他组织的服务（以下称其他服务），您同意并授权佳教通将您在账户注册</span><span style="font-size:12px;">/</span><span style="font-size:12px;">激活、使用佳教通平台服务过程中提供、形成的信息传递给向您提供其他服务的佳教通网站或其他公司或组织，或从提供其他服务的网站或其他公司或组织获取您在注册</span><span style="font-size:12px;">/</span><span style="font-size:12px;">激活、使用其他服务期间，提供、形成的信息。您同意不会因此追究佳教通网站的责任。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">六、责任范围和责任限制</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">佳教通负责按</span><span style="font-size:12px;">"</span><span style="font-size:12px;">现状</span><span style="font-size:12px;">"</span><span style="font-size:12px;">和</span><span style="font-size:12px;">"</span><span style="font-size:12px;">可得到</span><span style="font-size:12px;">"</span><span style="font-size:12px;">的状态向您提供佳教通平台服务。但佳教通对佳教通平台服务不作任何明示或暗示的保证，包括但不限于佳教通平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，佳教通也不对佳教通平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">3.</span><span style="font-family:宋体;font-size:12px;">您了解佳教通平台上的信息系用户自行发布，且可能存在风险和瑕疵。佳教通平台仅作为沟通媒介。佳教通平台仅作为您获取服务信息、寻找沟通对象、就各种服务的价格进行协商及开展沟通的平台，但佳教通无法控制信息及沟通服务所涉及的质量或合法性，用户信息的真实性或准确性，以及沟通各方履行其义务的能力。您应自行谨慎判断确定该沟通服务的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">4.</span></span><span style="font-family:宋体;font-size:12px;">除非法律法规明确要求，或出现以下情况，否则，佳教通没有义务对所有用户的信息数据、服务信息、沟通行为以及与沟通有关的其它事项进行事先审查：</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">a) </span></span><span style="font-family:宋体;font-size:12px;">佳教通有合理的理由认为特定会员及具体沟通事项可能存在重大违法或违约情形。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">b) </span></span><span style="font-family:宋体;font-size:12px;">佳教通有合理的理由认为用户在佳教通平台的行为涉嫌违法或不当。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">5.</span></span><span style="font-family:宋体;font-size:12px;">佳教通或佳教通授权的第三方或您与佳教通一致同意的第三方有权基于您不可撤销的授权受理您与其他会员因沟通产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定，包括但不限于调整相关预约的状态，将争议费用的全部或部分支付给沟通一方或双方，判断此次沟通无效。如您未在限期内执行处理决定的，则佳教通有权利（但无义务）直接使用您用户名内的款项，或您向佳教通及其关联公司代为支付。您应及时弥补佳教通及其关联公司的损失，否则佳教通有权继续追偿。</span><span style="font-family:宋体;font-size:12pt;"><br>
</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">您理解并同意，佳教通或佳教通授权的第三方或您与佳教通一致同意的第三方并非司法机构，仅能以普通人的身份对证据进行鉴别，佳教通或佳教通授权的第三方或您与佳教通一致同意的第三方对争议的调处完全是基于您不可撤销的授权，其无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受损失，您同意自行向受益人索偿。</span><span><br>
<span style="font-size:12px;">6.</span></span><span style="font-size:12px;">您了解并同意，佳教通不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿</span><span style="font-size:12px;"> (</span><span style="font-size:12px;">无论佳教通是否已被告知该损害赔偿的可能性</span><span style="font-size:12px;">) </span><span style="font-size:12px;">：</span><span><br>
<span style="font-size:12px;">a) </span></span><span style="font-size:12px;">使用或未能使用佳教通平台服务。</span><span><br>
<span style="font-size:12px;">b) </span></span><span style="font-size:12px;">第三方未经批准的使用您的账户或更改您的数据。</span><span><br>
<span style="font-size:12px;">c) </span></span><span style="font-size:12px;">通过佳教通平台服务购买或获取任何服务、样品、数据、信息或进行沟通等行为或替代行为产生的费用及损失。</span><span><br>
<span style="font-size:12px;">d) </span></span><span style="font-size:12px;">您对佳教通平台服务的误解。</span><span><br>
<span style="font-size:12px;">e) </span></span><span style="font-size:12px;">任何非因佳教通的原因而引起的与佳教通平台服务有关的其它损失。</span><span><br>
<span style="font-size:12px;">7.</span></span><span style="font-size:12px;">不论在何种情况下，佳教通均不对由于：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，黑客攻击、员工疏忽、罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务、中断服务或延迟服务、</span></span><span style="font-family:宋体;font-size:12px;">因任何原因而引起的与"服务"有关的任何其他事宜</span><span style="font-family:宋体;font-size:12px;">承担责任。</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">七、协议终止</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12px;">您同意，佳教通有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部佳教通平台服务，暂时冻结或永久冻结（注销）您的用户名在佳教通平台的权限，且无须为此向您或任何第三方承担任何责任。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">2.</span></span><span style="font-family:宋体;font-size:12px;">出现以下情况时，佳教通有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的用户名在佳教通平台的权限：</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">a) </span></span><span style="font-family:宋体;font-size:12px;">佳教通终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为佳教通用户的；</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">b) </span></span><span style="font-family:宋体;font-size:12px;">您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或佳教通以其它联系方式通知您更改电子邮件信息，而您在佳教通通知后三个工作日内仍未更改为有效的电子邮箱的。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">c) </span></span><span style="font-family:宋体;font-size:12px;">您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">d) </span></span><span style="font-family:宋体;font-size:12px;">本协议（含规则）变更时，您明示并通知佳教通不愿接受新的服务协议的；</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">e) </span></span><span style="font-family:宋体;font-size:12px;">其它佳教通认为应当终止服务的情况。</span><span style="font-family:宋体;font-size:12pt;"><br>
<span style="font-size:12px;">3.</span></span><span style="font-family:宋体;font-size:12px;">您的账户服务被终止或者账户在佳教通平台的权限被永久冻结（注销）后，</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">佳教通没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</span><span><br>
<span style="font-size:12px;">4.</span></span><span style="font-size:12px;">您同意，您与佳教通的合同关系终止后，佳教通仍享有下列权利：</span><span><br>
<span style="font-size:12px;">a) </span></span><span style="font-size:12px;">继续保存您的用户信息及您使用佳教通平台服务期间的所有沟通信息，及您上传的任何内容。</span><span><br>
<span style="font-size:12px;">b) </span></span><span style="font-size:12px;">您在使用佳教通平台服务期间存在违法行为或违反本协议和</span><span style="font-size:12px;">/</span><span style="font-size:12px;">或规则的行为的，佳教通仍可依据本协议向您主张权利。</span><span><br>
<span style="font-size:12px;">5.</span></span></span><span style="font-family:宋体;font-size:12pt;"> </span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">如用户向本网站提出注销注册用户身份时，经本网站审核同意，由本网站注销该用户，用户即解除与本网站的服务协议关系。但注销该用户帐户后，本网站仍保留下列权利： </span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">a</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">）用户注销后，本网站有权保留该用户的注册资料、上传信息及以前的沟通行为记录等记录； </span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">b</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">）用户注销后，如用户在注销前在本网站沟通平台上存在违法行为或违反合同的行为，本网站仍可行使本服务协议所规定的权利</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">6</span><span style="font-family:宋体;font-size:12px;">、</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">佳教通终止向您提平台服务后，对于您在服务终止之前的沟通行为，依下列原则处理，您完全承担以下处理所产生的任何争议、损失或增加的任何费用，并应确保佳教通免于因此产生任何损失或承担任何费用：</span><span><br>
<span style="font-size:12px;">a) </span></span><span style="font-size:12px;">您在服务中止或终止之前已经上传至佳教通平台的资料、服务、文章，佳教通有权在中止或终止服务的同时删除其相关信息；</span><span><br>
<span style="font-size:12px;">b) </span></span><span style="font-size:12px;">您在服务中止或终止之前已经与其他会员达成的服务意向，但未实际履行的，佳教通有权删除该服务的相关信息；</span><span><br>
<span style="font-size:12px;">c) </span></span><span style="font-size:12px;">您在服务中止或终止之前已经与其他会员达成服务意向且已部分履行的，佳教通可以不删除该信息，但佳教通有权在终止服务的同时将相关情形通知您的沟通对方。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">（</span><span style="font-size:12px;">2</span><span style="font-size:12px;">）服务中断、终止之前，用户已经与其他用户作出预约，但未沟通的，本网站有权在中断或终止服务的同时删除该用户的相关预约。 </span></span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">（</span><span style="font-size:12px;">3</span><span style="font-size:12px;">）服务中断、终止的时候，用户正在与另一用户进行沟通，本网站有权中断沟通服务，并同时将用户被中断或终止服务的情况通知用户的沟通对方。</span></span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">八、隐私权政策</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">佳教通将公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。</span><span></span></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">九、法律适用、管辖与其他</span><span style="font-family:宋体;font-size:12pt;"></span>
</p>
<p style="text-align:left;" class="MsoNormal" align="left">
	<span style="font-family:宋体;font-size:12px;">1.</span><span style="font-family:宋体;font-size:12pt;"><span style="font-size:12px;">本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。</span><span><br>
<span style="font-size:12px;">2.</span></span><span style="font-size:12px;">本协议包含了您使用各家佳教通平台需遵守的一般性规范，您在使用佳教通平台时还需遵守适用于该平台的特殊性规范（具体请参见您与该平台签署的其他协议以及平台规则等内容）。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。</span><span><br>
        </span></span></p></div>
        <input type="button" onclick="javascript:submitForm('form1')" value="同意服务条款 提交注册信息" class="register_sub">
  </div>
  <div class="clear"></div>
</div>
<p align="center"><img src="images/banner_regbom.jpg"></p>
<br>
<div class="footer"><br>
    <div class="main">
        <dl>
        <dt>帮助中心</dt>
        <dd><a href="">服务条款</a><a href="">网站资源</a></dd>
        </dl>
        <dl>
        <dt>服务支持</dt>
        <dd><a href="">意见反馈</a></dd>
        </dl>
        <dl>
        <dt>关注我们</dt>
        <dd><a href="">联系我们</a></dd>
        </dl>
        <dl>
        <dt>关于佳教通</dt>
        <dd><a href="">官方教学顾问</a></dd>
        </dl>
        <span class="right">经营许可证编号： 京ICP备10022571号-3    <br>© 2007-2016 佳教通 版权所有</span>
        <div class="clear"></div>
    </div>
    <br><br>
</div>


</body>
</html>
