<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>空中课堂</title>
<link href="css/kong.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

<!--[if IE 6]>
<script src="js/png_ie6.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input, a');
    </script>
<![endif]--> 
</head>
<body>
<div class="top">
  <div class="main"><span class="left">空中课堂&nbsp;&nbsp;&nbsp;&nbsp;用户名：cesi2233&nbsp;&nbsp;&nbsp;&nbsp;级别：1级&nbsp;&nbsp;&nbsp;&nbsp;积分：100</span><span class="right"><a href="">备课</a><a href="">邀请(0)</a><a href="">退出</a></span></div>
</div>
<div class="banner_kong"></div>
<div class="main kong white">
        <div class="kongtabtl">
        <ul>
        <li class="cur">现有的教学预约</li>
        <li>我的课程</li>
        <li>我的预约记录</li>
        <li>我的教学记录</li>
        </ul>
        </div>
        <br>
  <div class="kongtab">  
  <div class="scont" style="display:block;">
  <p align="right"><a href="" class="mbtn"><span class="fresh"></span>刷新列表</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="nextstep">发起教学预约<span>&gt;</span></a></p>
  <br>
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">邀请人</th>
    <th scope="col">被邀请人</th>
    <th scope="col">预约授课时间</th>
    <th scope="col">授课类型</th>
    <th scope="col">时长(分钟)</th>
    <th scope="col">价格</th>
    <th scope="col">教学科目</th>
    <th scope="col">状态</th>
    <th scope="col">操作</th>
    </tr>
  <tr>
    <td align="center"><a href="">我</a></td>
    <td align="center"><a href="" class="red">yoyo<img src="images/39.png"></a></td>
    <td align="center">2016-12-01 16:38</td>
    <td align="center">试听</td>
    <td align="center">60</td>
    <td align="center">0</td>
    <td align="center">初中-作文</td>
    <td align="center"><span class="green">预约成功</span></td>
    <td align="center"><a href="" class="cancel">取消预约</a>-<a href="" class="enter">进入教学</a></td>
    </tr>
  
</table>
     <div class="pages">
    <ul>
    <li><a href="首页.html">首页</a></li><li class="cur"><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">末页</a></li>
    </ul>
    </div>
  </div>
  <div class="scont"><br>
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
          <th>&nbsp;</th>
          <th>学生用户名</th>
          <th>教学科目</th>
          <th>开始时间</th>
          <th>总课时</th>
          <th>剩余课时</th>
          <th>有效期</th>
          <th>项目</th>
          <th>完成情况</th>
          <th>&nbsp;</th>
      </tr>
  <tr>
  
      <td>         
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(368);"><img src="images/jxjl.gif"></a>
          
      </td>
        <td align="center">
          yoyo
      </td>
      <td align="center">初中-英语</td>
      <td align="center">
          2017-09-19
      </td>
      <td align="center">2</td>
      <td align="center">2.00</td>
      <td align="center">3个月</td>
      <td align="center">套餐 </td> 
          <td align="center">未缴费</td>
      <td>
          <a onclick="javascript:to_detail(368);"><img src="images/details.gif"></a>
      </td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(270);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(270);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">小学-语文</td>
      <td align="center">
          2016-12-07
      </td>
      <td align="center">20</td>
      <td align="center">20.00</td>
      <td align="center">3个月</td>
      <td align="center">套餐 </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
          <a onclick="javascript:to_detail(270);"><img src="images/details.gif"></a>
          
      
      </td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(230);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(230);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">小学-英语</td>
      <td align="center">
          2016-08-15
      </td>
      <td align="center">24</td>
      <td align="center">15.60</td>
      <td align="center">2个月</td>
      <td align="center">套餐 </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(230);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(210);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(210);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">小学-语文</td>
      <td align="center">
          2016-07-24
      </td>
      <td align="center">10</td>
      <td align="center">9.72</td>
      <td align="center">2个月</td>
      <td align="center">套餐 </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(210);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(138);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(138);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          苦读书
      </td>
      <td align="center">英语-阅读</td>
      <td align="center">
          2016-02-03
      </td>
      <td align="center">1</td>
      <td align="center">1.00</td>
      <td align="center">1个月</td>
      <td align="center">套餐 </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(138);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(137);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(137);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          苦读书
      </td>
      <td align="center">英语-口语</td>
      <td align="center">
          2016-02-03
      </td>
      <td align="center">1</td>
      <td align="center">1.00</td>
      <td align="center">1个月</td>
      <td align="center">套餐 </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(137);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(118);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(118);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          苦读书
      </td>
      <td align="center">小学-语文</td>
      <td align="center">
          2015-12-19
      </td>
      <td align="center">4</td>
      <td align="center">3.98</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
          <td align="center" style="color:red;">进行中 </td>
      
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(118);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
              <a onclick="javascript:to_jiaoxue(117);"><img src="images/yuyue.gif"></a>
              <a onclick="javascript:to_jilu(117);"><img src="images/jxjl.gif"></a>
          
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">高中-数学</td>
      <td align="center">
          2015-12-17
      </td>
      <td align="center">12</td>
      <td align="center">6.25</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
          <td align="center"> </td>
      
      
      
      <td>
      
      <a onclick="javascript:to_detail(117);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(95);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-数理化</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">1</td>
      <td align="center">1.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(95);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(86);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-数理化</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">45</td>
      <td align="center">45.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(86);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(85);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-数理化</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">45</td>
      <td align="center">45.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(85);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(84);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-数理化</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">45</td>
      <td align="center">45.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(84);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(83);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-作文</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">23</td>
      <td align="center">23.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(83);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(82);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-作文</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">23</td>
      <td align="center">23.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(82);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  <tr class="tr02">
  
      <td>
          
          
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a onclick="javascript:to_jilu(81);"><img src="images/jxjl.gif"></a>
          
      </td>
      <td align="center">
          yoyo
      </td>
      <td align="center">初中-物理</td>
      <td align="center">
          2015-10-12
      </td>
      <td align="center">40</td>
      <td align="center">40.00</td>
      <td align="center">个月</td>
      <td align="center"> </td>
      
      
      
          <td align="center">未缴费</td>
      
      
      <td>
      
      <a onclick="javascript:to_detail(81);"><img src="images/details.gif"></a></td>
  
  </tr>
      
  
  
  </tbody></table>
     <div class="pages">
    <ul>
    <li><a href="首页.html">首页</a></li><li class="cur"><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">末页</a></li>
    </ul>
    </div>
  </div>
  <div class="scont"><br>
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">邀请人</th>
    <th scope="col">被邀请人</th>
    <th scope="col">预约授课时间</th>
    <th scope="col">授课类型</th>
    <th scope="col">时长(分钟)</th>
    <th scope="col">价格</th>
    <th scope="col">教学科目</th>
    <th scope="col">最终状态</th>
    </tr>
  <tr>
    <td align="center"><a href="">我</a></td>
    <td align="center"><a href="" class="red">yoyo<img src="images/39.png"></a></td>
    <td align="center">2016-12-01 16:38</td>
    <td align="center">试听</td>
    <td align="center">60</td>
    <td align="center">0</td>
    <td align="center">初中-作文</td>
    <td align="center"><span class="green">预约成功</span></td>
    </tr>
  
</table>
<div class="pages">
    <ul>
    <li><a href="首页.html">首页</a></li><li class="cur"><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">末页</a></li>
    </ul>
    </div>
  </div>
  <div class="scont">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border:0;">查询日期：<input name="" type="text"> 至 <input name="" type="text"> <input name="" type="button" class="mbtn2" value="搜索"></td>
    </tr>  
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">学员用户名</th>
    <th scope="col">所学科目</th>
    <th scope="col">授课类型</th>
    <th scope="col">授课日期及时间</th>
    <th scope="col">授课时长</th>
    <th scope="col">单价</th>
    <th scope="col">总价</th>
    <th scope="col">&nbsp;</th>
    </tr>
  <tr>
    <td align="center"><a href="" class="redbtn">给评价</a></td>
    <td align="center"><a href="" class="red">yoyo<img src="images/39.png"></a></td>
    <td align="center">小学-数学</td>
    <td align="center">套餐课程</td>
    <td align="center">2016-12-01 16:38</td>
    <td align="center">33分钟</td>
    <td align="center">0.0元/小时</td>
    <td align="center">元</td>
    <td align="center"><a href="" class="red">对我的评价</a></td>
    </tr>
  <tr>
    <td align="center"><a href="" class="red">我给的评价</a></td>
    <td align="center"><a href="" class="red">yoyo<img src="images/39.png"></a></td>
    <td align="center">小学-数学</td>
    <td align="center">套餐课程</td>
    <td align="center">2016-12-01 16:38</td>
    <td align="center">33分钟</td>
    <td align="center">0.0元/小时</td>
    <td align="center">元</td>
    <td align="center"><a href="" class="red">对我的评价</a></td>
    </tr>
  
</table>
  <div class="pages">
    <ul>
    <li><a href="首页.html">首页</a></li><li class="cur"><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">末页</a></li>
    </ul>
    </div>
  </div>
    </div>
    <div class="clear"></div>
    <script>
	    $(function(){
		    $(".kongtabtl li").each(function(index, element) {
                $(this).click(function(){
					$(this).addClass("cur").siblings("li").removeClass("cur");
					var index=$(this).index();
					$(".kongtab .scont").eq(index).show().siblings().hide();
					})
            });
		})
	</script>
</div>
<br>
<div class="footer"><br>
    <div class="main">
        <dl>
        <dt>帮助中心</dt>
        <dd><a href="">服务条款</a><a href="">网站资源</a></dd>
        </dl>
        <dl>
        <dt>服务支持</dt>
        <dd><a href="">意见反馈</a></dd>
        </dl>
        <dl>
        <dt>关注我们</dt>
        <dd><a href="">联系我们</a></dd>
        </dl>
        <dl>
        <dt>关于佳教通</dt>
        <dd><a href="">官方教学顾问</a></dd>
        </dl>
        <span class="right">经营许可证编号： 京ICP备10022571号-3    <br>© 2007-2016 佳教通 版权所有</span>
        <div class="clear"></div>
    </div>
    <br><br>
</div>


</body>
</html>
